@{
    ViewBag.Title = "Home";
}


    <div class="jumbotron" style="background-color:white">
        <h1 class="display-4">Welcome to my barber shop!</h1>
        <p class="lead">Get hair cut</p>
    </div>
